<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/principal">
    <img src="assets/img/princi.png" width="40" height="40" class="d-inline-block   align-top" alt=""> BIENVENIDO
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/formulario">
            <img src="/assets/img/prestamos.png" width="50" height="50" class="d-inline-block   align-top" alt=""> Préstamos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formularioautores">
            <img src="assets/img/autores.png"  width="50" height="50" class="d-inline-block   align-top" alt=""> Autores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formulariolibro">
            <img src="/assets/img/libros.png" width="50" height="50" class="d-inline-block   align-top" alt=""> Libros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editoriales">
            <img src="/assets/img/editorial.png" width="50" height="50" class="d-inline-block   align-top" alt=""> Editoriales
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vip">
            <img src="assets/img/vip.png" width="50" height="50" class="d-inline-block   align-top" alt=""> Clientes Vips
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/img/contact.png" width="38" height="38" class="d-inline-block   align-top" alt="">Contáctenos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="https://www.instagram.com/culbarranquilla/?hl=es-la">
              <img src="assets/img/insta.png" width="30" height="30" class="d-inline-block   align-top" alt=""> Instagram
            </a></li>
            <li><a class="dropdown-item" href="https://es-la.facebook.com/culbarranquilla/">
              <img src="assets/img/face.png" width="30" height="30" class="d-inline-block   align-top" alt=""> Facebook
            </a></li>
            <li><a class="dropdown-item" href="https://twitter.com/culbarranquilla?lang=es">
              <img src="assets/img/tw.png" width="30" height="30" class="d-inline-block   align-top" alt=""> Twitter
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  