<app-menu></app-menu>



<div class="container">
  <div class="row">
    <div class="col">
      <section>
<td>
<h1 class="feature-title">TOP 3 CLIENTES</h1>

<h5 class="feature-title">Más visitas al més:</h5>
   <div class="row">
   <div class="col">
        <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Visitas</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Juana</td>
      <td>Acosta</td>
      <td>25</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Sergio</td>
      <td>Fajardo</td>
      <td>19</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Vladimir</td>
      <td>Tupin</td>
      <td>15</td>
      
    </tr>
  </tbody>
</table>
    </div>
    </div>
</section>
    </div>
    
    <div class="col">
      <section>
 <td>
<br><br>
<h5 class="feature-title">Préstamos al més:</h5>
   <div class="row">
        <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Libros Prestados</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jorge</td>
      <td>Cura</td>
      <td>31</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Manuel</td>
      <td>Gómez</td>
      <td>15</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sara</td>
      <td>Rincón</td>
      <td>9</td>
      
    </tr>
  </tbody>
</table>
    </div>
 </section>   
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <section>
 <td>

<h5 class="feature-title">Donados al año</h5>
   <div class="row">
        <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Libros Donados</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Martina</td>
      <td>Suárez</td>
      <td>59</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Stephy</td>
      <td>Gutierrez</td>
      <td>29</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Andrés</td>
      <td>Díaz</td>
      <td>22</td>
      
    </tr>
  </tbody>
</table>
    </div>
 </section>   
    </div>
    
    <div class="col">
    <section>
 <td>

<h5 class="feature-title">Leidos por categoría</h5>
   <div class="row">
        <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Categoría</th>
      <th scope="col">Leidos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Teofilo</td>
      <td>Toloza</td>
      <td>Literario:Terror</td>
      <td>20</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>James</td>
      <td>García</td>
      <td>Cientifico</td>
      <td>7</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>David</td>
      <td>Diaz</td>
      <td>Biografia</td>
      <td>6</td>
      
    </tr>
  </tbody>
</table>
    </div>
 </section>
    </div>
  </div>

</div>
<br>
<div class="container">
<section>
    <h3 class="h3 text-center text-light bg-dark">¡INTERÉSATE!</h3>

    <div class="row mt-5">

    <div class="col-lg-6">

        <div class="row">

            <div class="col-10"> 
                <h5 class="feature-title">Las bibliotecas</h5>
                <p class="grey-text">Las bibliotecas son escenarios de importancia sustantiva para la búsqueda del conocimiento y el desarrollo de una sociedad, ya que ponen al servicio de la comunidad los libros y demás medios culturales sobre todo en las zonas más apartadas y con problemas de acceso.</p>
            </div>
            <hr>
        </div>

        <div class="row">

            <div class="col-10"> 
                <h5 class="feature-title">Importancia de leer</h5>
                <p class="grey-text">La lectura aumenta la comprensión, atención, observación, concentración, reflexión / pensamiento crítico y memoria de las personas. La lectura de libros nos hace más inteligentes. La lectura despierta la curiosidad y alimenta la imaginación. Leer activa la inspiración, imaginación y el surgimiento de ideas.</p>
            </div>
            <hr>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="ratio ratio-16x9">
  <iframe width="60" height="15" src="https://www.youtube.com/embed/ZtrVvBN-Jy0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    </div>

</section>
	</div>
<hr>
<app-pie></app-pie>

