
<app-menu></app-menu>
<app-encabezado></app-encabezado>


<br><br>
 <section>
      	<div class="container mt-5 mb-5">
      		<div class="row justify-content-center">
      			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="assets\img\lb.jpg"
                class="card-img-top"
                
              />
              <div class="card-body">
                <h5 class="card-title">REALISMO MÁGICO</h5>
                <p class="card-text">
                  Poco antes de que la Editorial Sudamericana publicara el libro completo, García Márquez fue publicando fragmentos y capítulos en periódicos y revistas reconocidas del mundo literario.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="assets\img\lb2.jpg"
                class="card-img-top"
                
              />
              <div class="card-body">
                <h5 class="card-title">ENSEÑANZA</h5>
                <p class="card-text">
                 Escrita por Carlos Cuauhtémoc, la obra juventud en éxtasis, nos enseña a los jóvenes de cómo debemos llevar nuestra vida en cuanto a amistades, amores, sexo teniendo en cuenta los valores fundamentales.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="assets\img\lb7.png"
                
              />
              <div class="card-body">
                <h5 class="card-title">TERROR</h5>
                <p class="card-text">
                  El instituto. Por Stephen King. Publicado por Plaza Y Janes.  La última novela del emperador del miedo. El escritor que más terror  ha producido en la literatura del siglo XX y del XXI. Todos sus libros han sido bestseller.
                </p>
              </div>
            </div>
          </div>
      			
      	</div>
      		
      	</div>
      </section>
  <div class="container">
<section>
    <h3 class="h3 text-center text-light bg-dark">¿Sabias que...</h3>

    <div class="row mt-5">

    <div class="col-lg-6">

        <div class="row">

            <div class="col-10"> 
                <h5 class="feature-title">...Las bibliotecas de la antigüedad no abrían sus puertas a cualquiera?</h5>
                <p class="grey-text">Sólo a algunos, los elegidos podían consultar sus contenidos.</p>
            </div>
            <hr>
        </div>

        <div class="row">

            <div class="col-10"> 
                <h5 class="feature-title">...En Egipto las bibliotecas eran sabiamente llamadas “El tesoro de los remedios del alma”?</h5>
                <p class="grey-text"> Pues en ella se combatía al enemigo número uno de esta, la ignorancia.</p>
            </div>
            <hr>
        </div>

        <div class="row">

            <div class="col-10"> 
                <h5 class="feature-title">...Existe ya una biblioteca que seguro dentro de muy poco superará en contenido a todas las demás?</h5>
                <p class="grey-text">La Biblioteca Digital mundial (Biblioteca del Congreso), a la que todo el mundo puede acceder con solo un click, y dónde podemos encontrar documentos tan excepcionales como La Biblia de Gutenberg, entre otros.</p>
            </div>
            <hr>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="ratio ratio-16x9">
  <iframe width="60" height="15" src="https://www.youtube.com/embed/_7Ox4x7A5KI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    </div>

</section>
	</div>
  <section>
      	<div class="container mt-5 mb-5">
      		<div class="row justify-content-center">
      			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="assets\img\nv1.jpg"
                class="card-img-top"
                
              />
              <div class="card-body">
                <h5 class="card-title">INSPIRACIÓN</h5>
                <p class="card-text">
                 A los 29 años de edad, Anthony Ray Hinton fue arrestado y acusado de dos cargos de capital Asesinato en Alabama. Sus memorias cuentan la historia de cómo fue condenado falsamente y liberado del corredor de la muerte después de 30 años.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="assets\img\nv2.jpg"
                class="card-img-top"
                
              />
              <div class="card-body">
                <h5 class="card-title">ROMÁNTICO</h5>
                <p class="card-text">
                 La histórica novela romántica sigue a Marisol, una mujer cubano-estadounidense que viaja desde Miami a Cuba para visitar el país de origen de su abuela. Cuando lo hace, descubre un secreto familiar que se ha mantenido durante casi seis décadas.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="assets\img\nv3.jpg"
                
              />
              <div class="card-body">
                <h5 class="card-title">FICCIÓN</h5>
                <p class="card-text">
                 Imagina la historia del país de África occidental Liberia en sus primeros años. Sus tres personajes principales tienen dones y poderes especiales que se utilizan para hacer frente a las tensiones entre los colonos afroamericanos y las tribus indígenas en el país.
                </p>
              </div>
            </div>
          </div>
      			
      	</div>
      		
      	</div>
      </section>
<hr>
<app-mapa></app-mapa>
<hr>
<app-pie></app-pie>
